<?xml version="1.0"?>
<appSettings>
  <add key="ida:AppID" value="c1892f80-d2f6-4492-8a3b-7fbc70b7a0ae" />
  <add key="ida:AppSecret" value="MLzNRfOTaL=ztxk.?a:5u1xttsiV6F0B" />
  <add key="ida:RedirectUri" value="https://localhost:44377/" />
  <add key="ida:AppScopes" value="User.Read Calendars.Read" />
  <add key="ida:Tenant" value="127bbf67-a504-4425-b160-f3c35ac034af" />
  <add key="ida:Authority" value="https://login.microsoftonline.com/{0}/v2.0" />
  <add key="ida:PostLogoutRedirectUri" value="https://localhost:44377/Login" />
</appSettings>
